h1 {
    font-size:              26px;
    margin-top:             -3px;
    padding-bottom:         3px;
}
h2 {
  font-size:                18px;
  margin-top:               24px;
}
h3 {
  font-size:                inherit;
  margin-top:               24px;
}
.meta {
    color:                  #aaa;
    line-height:            23px;
    margin-bottom:          0;
    padding-top:            1px;
    text-indent:            0;
}

p,
ol,
ul {
    margin:                 24px 0 0;
    position:               relative;
}
p + p {
    text-indent:            24px;
    margin-top:             0;
}
.meta + p,
.meta + ul {
    text-indent:            0;
    margin-top:             0;
}
p + .meta {
    margin-top:             0;
}
li p:first-child {
  margin-top:               0;
}
blockquote p + footer {
  margin-top:               -24px;
}
blockquote footer cite:before {
  /* Blockquote cites need a leading em-dash */
  content:                  '\2014';
}
li p:last-child {
  margin-bottom:            0;
}

.repost blockquote {
  font-style:               normal;
  border-left:              1px solid #ccc;
  margin-left:              -24px;
  padding-left:             23px;
}
.repost blockquote em,
.repost blockquote q {
  font-style:               italic;
}

/* Correct for weird line-height of fixed-width fonts */
code {
  line-height:              20px;
  padding-top:              1px;
  margin-bottom:            -1px;
}
.highlight code {
  display:                  block;
  line-height:              24px;
}
.highlight {
  margin:                   24px 0;
}

hr {
  border-top:               1px solid #aaa;
  margin:                   -6px 96px 29px;
}
.highlight + hr {
  margin-top:               -7px;
}

h2 + *,
h2 + * > *:first-child,
h3 + *,
h3 + * > *:first-child {
    margin-top:             0;
}

/* HACK: Ensure this doesn't get overridden by the above to it stays on-grid*/
img {
    display:                block;
    margin-top:             19px;
}
