body {
    background:             #fff;
    color:                  #333;
    font:                   300 16px/24px
                            "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin:                 53px 24px 43px;
    max-width:              420px;
}
body.grid {
    background-image:       url(/assets/i/baseline.png);
    background-size:        1px 24px;
}

a {
    color:                  #72ba00;
    text-decoration:        none;
}
a:hover,
a:focus,
a:active {
  text-decoration:          underline;
}

ul {
    list-style:             circle;
}

sub,
sup {
    font-size:              12px;
    line-height:            0;
}
