h1,
h2,
h3,
.meta {
  font-family:              Georgia, Century, serif;
  text-transform:           uppercase;
}
h1 {
    font-size:              24px;
    letter-spacing:         1px;
    margin-top:             -3px;
    padding-bottom:         3px;
}
h2 {
  font-size:                18px;
  letter-spacing:           1px;
}
h3 {
  font-size:                16px;
  margin-bottom:            -1px;
  padding-top:              1px;
}
.meta {
    text-transform:         uppercase;
    line-height:            23px;
    margin-bottom:          24px;
    padding-top:            1px;
}
.meta sup {
    text-transform:         none;
}

/* De-emphasise words in headers et al. */
h1 span,
h2 span,
h3 span,
.meta span {
    font-variant:           normal;
    font-style:             italic;
    text-transform:         lowercase;
    letter-spacing:         0;
}

p,
ol,
ul {
    margin:                 24px 0;
    position:                 relative;
}
p + p {
    margin-top:             -24px;
    text-indent:            24px;
}
blockquote p + footer {
  margin-top:               -24px;
}
li p:last-child {
  margin-bottom:            0;
}

/* Correct for weird line-height of fixed-width fonts */
code {
  line-height:              22px;
  padding-top:              1px;
  margin-bottom:            -1px;
}
.highlight code {
  display:                  block;
  line-height:              24px;
}
.highlight {
  margin:                   24px 0;
}

hr {
  border-top:               1px solid #aaa;
  margin:                   -6px 96px 29px;
}
.highlight + hr {
  margin-top:               -7px;
}

h2 + *,
h2 + * > *:first-child,
h3 + *,
h3 + * > *:first-child {
    margin-top:             0;
}

/* HACK: Ensure this doesn't get overridden by the above to it stays on-grid*/
img {
  left:                     100%;
  margin-top:               -5px;
  padding:                  0 24px 24px;
  position:                 absolute;
}
