body {
  font-size:                11px;
  line-height:              17px;
  max-width:                none;
  margin: 40px;
}

h1 {
    font-size:              17px;
    padding-bottom:         3px;
}
h2 {
  font-size:                14px;
}
h3 {
  font-size:                inherit;
}
.meta {
  color: #ccc;
    line-height:            16px;
    padding-top:            1px;
    text-indent:            0;
}
p,
ol,
ul {
    margin:                 17px 0;
    position:               relative;
}
p + p {
    margin-top:             -17px;
    text-indent:            17px;
}
.meta + p {
    text-indent:            0;
}
blockquote p + footer {
  margin-top:               -17px;
}
h2 + *,
h2 + * > *:first-child,
h3 + *,
h3 + * > *:first-child {
    margin-top:             0;
}

a {
    color:                  inherit;
}
#footer {
  display:                  none;
}
