<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1">
        {% if page.title %}
        <title>{{ page.title | strip_html }} &mdash; {{ site.name }}</title>
        {% else %}
        <title>{{ site.name }}</title>
        {% endif %}
        <link rel="stylesheet" href="/assets/main.css" charset="utf-8">
        <link rel="alternate" type="application/atom+xml" href="/atom.xml">
    </head>
    <body>
      {{ content }}
      <footer id="footer">
        <p>
          &mdash;<a href="http://twitter.com/SteveMarshall">@SteveMarshall</a>
        </p>
        <p>
          &copy; {{ site.time | date: '%Y' }}
          {% if '/index.html' == page.url %}
          {{ site.name }},
          {% else %}
          <a href="/">{{ site.name }}</a>,
          {% endif %}
          all rights reserved.
        </p>
      </footer>
    </body>
</html>
