<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1">
        {% if page.title and page.sitename_only == null %}
        <title>{{ page.title | markdownify | strip_html }} &mdash; {{ site.name }}</title>
        {% else %}
        <title>{{ site.name }}</title>
        {% endif %}
        <link rel="stylesheet" href="/assets/main.css">
        <link rel="stylesheet" href="/assets/print.css" media="print">
        <link rel="alternate" type="application/atom+xml" href="/atom.xml">
        <script src="/assets/class-switcher.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
      {{ content }}
      <footer id="footer" class="author vcard">
        <p>
          &mdash;<a href="https://mastodon.social/@stevemarshall">@SteveMarshall</a>
        </p>
        <p>
          &copy; {{ site.time | date: '%Y' }}
          {% if '/index.html' == page.url %}
          <span class="fn">{{ site.name }}</span>,
          {% else %}
          <a href="/" class="fn url">{{ site.name }}</a>,
          {% endif %}
          all rights reserved.
        </p>
      </footer>
    </body>
</html>
